.section.main-wrapper {
    max-width: 1232px;
    width: 100%;
    margin: 78px auto 0;
    padding: 24px 0 40px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

main.nfo-nav .main-wrapper .section:first-of-type {
    margin-top: 0;
}

.section.article-left-wrapper {
    max-width: 66.234%;
    width: 100%;
    margin: 0;
}

.section.article-sub-left .default-content-wrapper {
    padding: var(--spacing-24) 0;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 16px;
    justify-content: space-between;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type ul {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    margin: 0;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:first-of-type {
    color: var(--blue-1-800-primary);
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: var(--border-radius-circle);
    border: 1px solid var(--strokes-default);
    padding: 2px var(--spacing-12);
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li {
    color: var(--neutrals-700);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
    font-weight: 400;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:first-of-type .icon {
    width: 20px;
    height: 20px;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:last-of-type {
    display: flex;
    align-items: center;
    gap: 4px;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:last-of-type::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--blue-1-400);
    border-radius: 50%;
    margin-right: 4px;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:last-of-type .icon {
    width: 12px;
    height: 12px;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:last-of-type p,
.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:last-of-type p span.icon {
    margin: 0;
    width: 28px;
    height: 28px;
}

.section.article-sub-left .default-content-wrapper h1,
.section.article-sub-left .default-content-wrapper h2,
.section.article-sub-left .default-content-wrapper h3,
.section.article-sub-left .default-content-wrapper h4,
.section.article-sub-left .default-content-wrapper h5,
.section.article-sub-left .default-content-wrapper h6 {
    margin: 24px 0 0;
    color: var(--blue-1-800-primary);
    font-feature-settings: var(--font-features-default);
    font-family: var(--title);
    font-size: var(--heading-h5-size);
    line-height: var(--heading-h5-line-height);
    font-weight: 600;
}

.section.article-sub-left .default-content-wrapper p:first-of-type {
    margin: 4px 0 0;
    color: var(--text-body-2);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-medium-regular-size);
    line-height: 24px;
    font-weight: 400;
}

.section.article-sub-left .default-content-wrapper>ul:last-of-type {
    margin: 24px 0 0;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type>li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type li p,
.section.article-sub-left .default-content-wrapper ul:last-of-type li p .icon {
    margin: 0;
    width: 35px;
    height: 35px;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type li ul {
    margin: 0;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type li ul li:first-of-type {
    color: var(--neutrals-900);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-weight: 500;
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
    padding: 0 0 4px;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type li ul li:last-of-type {
    color: var(--neutrals-700);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-weight: 400;
    font-size: var(--paragraph-small-regular-size);
    line-height: var(--paragraph-small-regular-line-height);
}

.section.article-sub-left .embed-wrapper .embed {
    max-width: 100%;
    width: 100%;
    height: 320px;
}

.section.article-sub-left .embed-wrapper .embed>div {
    padding-bottom: 0 !important;
    height: 100% !important;
}

.section.article-sub-left .embed-wrapper .embed-placeholder {
    aspect-ratio: unset;
    height: 100%;
}

.section.article-sub-left .embed-wrapper .embed-placeholder-play button {
    background-color: unset;
    border: none;
    border-radius: unset;
    width: 48px;
    height: 48px;
    transform: unset;
    margin: 0;
}

.section.article-sub-left .embed-wrapper .embed-placeholder-play button::before {
    content: '';
    background: url('../../icons/play-button.svg') center center no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
    border: none;
    position: unset;
}

.section.article-sub-left .co-branding-wrapper .co-branding p {
    margin: 24px 0 0;
    color: #3D3D3D;
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-weight: 400;
    font-size: var(--body-medium-regular-size);
    line-height: 24px;
}

.section.article-sub-left .co-branding-wrapper .co-branding ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0 0;
    list-style: none;
}

.section.article-sub-left .co-branding-wrapper .co-branding ul>li {
    color: var(--blue-1-800-primary);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-large-semibold-size);
    line-height: var(--body-large-semibold-line-height);
    font-weight: 600;
}

.section.article-sub-left .co-branding-wrapper .co-branding ul>li>ul>li {
    color: #3D3D3D;
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-medium-regular-size);
    line-height: 24px;
    font-weight: 400;
}

.section.article-right-wrapper {
    max-width: 24.026%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.article-sub-right.stay-updated .default-content-wrapper h1,
.article-sub-right.stay-updated .default-content-wrapper h2,
.article-sub-right.stay-updated .default-content-wrapper h3,
.article-sub-right.stay-updated .default-content-wrapper h4,
.article-sub-right.stay-updated .default-content-wrapper h5,
.article-sub-right.stay-updated .default-content-wrapper h6 {
    color: var(--blue-1800-primary, #2E2A94);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-large-medium-size);
    line-height: var(--body-large-medium-line-height);
    font-weight: 500;
    padding: 0 0 16px;
}

.article-sub-right.stay-updated ul {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    margin: 0;
}

.article-sub-right.subscribe-email {
    border-radius: var(--border-radius-8);
    background: var(--blue-1-800-primary);
    padding: var(--spacing-24) 16px;
}

.article-sub-right.subscribe-email .default-content-wrapper p:first-of-type,
.article-sub-right.subscribe-email .default-content-wrapper p:first-of-type .icon {
    width: 64px;
    height: 64px;
    margin: 0;
}

.article-sub-right.subscribe-email .default-content-wrapper h1,
.article-sub-right.subscribe-email .default-content-wrapper h2,
.article-sub-right.subscribe-email .default-content-wrapper h3,
.article-sub-right.subscribe-email .default-content-wrapper h4,
.article-sub-right.subscribe-email .default-content-wrapper h5,
.article-sub-right.subscribe-email .default-content-wrapper h6 {
    margin: 8px 0 24px;
    color: var(--neutrals-white, #FFF);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-medium-medium-size);
    font-weight: 500;
    line-height: var(--body-medium-medium-line-height);
}

.article-sub-right.subscribe-email .default-content-wrapper p.button-container {
    margin: 0;
}

.article-sub-right.subscribe-email .default-content-wrapper p.button-container form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.article-sub-right.subscribe-email .default-content-wrapper p.button-container form .email-wrapper {
    border-radius: var(--border-radius-8);
    border: var(--border-width-01) solid var(--neutrals-white);
    padding: var(--spacing-8) var(--spacing-12);
    position: relative;
}

.article-sub-right.subscribe-email .default-content-wrapper .email-wrapper:focus-within label {
    transform: unset;
    top: -10px;
    background-color: var(--blue-1-800-primary);
}

.article-sub-right.subscribe-email .default-content-wrapper .email-wrapper label,
.article-sub-right.subscribe-email .default-content-wrapper .email-wrapper input {
    color: var(--neutrals-200);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
    font-weight: 400;
}

.article-sub-right.subscribe-email .default-content-wrapper .email-wrapper label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    padding: 0 4px;
    transition: all 0.3s ease;
}

.article-sub-right.subscribe-email .default-content-wrapper .email-wrapper input {
    padding: 2px 0;
    border: none;
    background-color: transparent;
    width: 100%;
}

.article-sub-right.subscribe-email .default-content-wrapper .email-wrapper input::placeholder {
    color: transparent;
}

.article-sub-right.subscribe-email .default-content-wrapper .submit-btn .button {
    border-radius: var(--border-radius-8);
    background: var(--neutrals-white);
    padding: 10px var(--spacing-12);
    width: 100%;
    margin: 0;
    color: var(--text-button-default);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--button-medium-size);
    line-height: var(--button-medium-line-height);
    font-weight: 500;
}

.article-sub-right.recommended-posts .default-content-wrapper h1,
.article-sub-right.recommended-posts .default-content-wrapper h2,
.article-sub-right.recommended-posts .default-content-wrapper h3,
.article-sub-right.recommended-posts .default-content-wrapper h4,
.article-sub-right.recommended-posts .default-content-wrapper h5,
.article-sub-right.recommended-posts .default-content-wrapper h6 {
    color: var(--blue-1-800-primary);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-large-medium-size);
    line-height: var(--body-large-medium-line-height);
    font-weight: 500;
}

.article-sub-right.recommended-posts .button-container {
    margin: 8px 0 0;
}

.article-sub-right.recommended-posts .cards ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.article-sub-right.recommended-posts .cards ul li {
    padding: var(--spacing-16) 0;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    border: none;
}

.article-sub-right.recommended-posts .cards ul li .cards-card-image {
    min-width: 88px;
    height: 88px;
}

.article-sub-right.recommended-posts .cards ul li .cards-card-image picture {
    line-height: 0;
    height: 100%;
    display: block;
}

.article-sub-right.recommended-posts .cards ul li .cards-card-image img {
    width: 100%;
    height: 100%;
}

.article-sub-right.recommended-posts .cards ul li .cards-card-body {
    margin: 0;
}

.article-sub-right.recommended-posts .cards ul li .cards-card-body p:first-of-type {
    margin: 0;
    color: var(--blue-1-800-primary);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--label-medium-size);
    line-height: var(--label-medium-line-height);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
}

.article-sub-right.recommended-posts .cards ul li .cards-card-body p:first-of-type::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--blue-1-800-primary);
    display: block;
    border-radius: 50%;
}

.article-sub-right.recommended-posts .cards ul li .cards-card-body h1,
.article-sub-right.recommended-posts .cards ul li .cards-card-body h2,
.article-sub-right.recommended-posts .cards ul li .cards-card-body h3,
.article-sub-right.recommended-posts .cards ul li .cards-card-body h4,
.article-sub-right.recommended-posts .cards ul li .cards-card-body h5,
.article-sub-right.recommended-posts .cards ul li .cards-card-body h6 {
    color: var(--neutrals-900);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
    font-weight: 500;
}

.article-sub-right.recommended-posts .cards ul li .cards-card-body p:last-of-type {
    margin: 8px 0 0;
    color: var(--neutrals-700);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--label-small-size);
    font-weight: 400;
    line-height: var(--label-small-line-height);
    display: flex;
    align-items: center;
    gap: 4px;
}

.article-sub-right.recommended-posts .cards ul li .cards-card-body p:last-of-type span.icon {
    width: 12px;
    height: 12px;
}

.article-sub-right.our-podcast .default-content-wrapper h1,
.article-sub-right.our-podcast .default-content-wrapper h2,
.article-sub-right.our-podcast .default-content-wrapper h3,
.article-sub-right.our-podcast .default-content-wrapper h4,
.article-sub-right.our-podcast .default-content-wrapper h5,
.article-sub-right.our-podcast .default-content-wrapper h6 {
    color: var(--blue-1-800-primary);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-large-medium-size);
    line-height: var(--body-large-medium-line-height);
    font-weight: 500;
    padding: 0 0 24px;
}

.article-sub-right.our-podcast .default-content-wrapper>p,
.article-sub-right.our-podcast .default-content-wrapper picture {
    margin: 0;
}

.article-sub-right.our-podcast .default-content-wrapper picture {
    display: block;
    width: 100%;
    height: auto;
    line-height: 0;
}

.article-sub-right.our-podcast .default-content-wrapper picture img {
    width: 100%;
    height: 100%;
}

.article-sub-right.our-podcast .default-content-wrapper>ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.article-sub-right.our-podcast .default-content-wrapper ul>li {
    padding: var(--spacing-16) 0;
}

.article-sub-right.our-podcast .default-content-wrapper ul>li p {
    color: var(--neutrals-800);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--body-medium-medium-size);
    line-height: var(--body-medium-medium-line-height);
    font-weight: 500;
    margin: 0 0 4px;
}

.article-sub-right.our-podcast .default-content-wrapper ul>li ul {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    margin: 0;
}

.article-sub-right.our-podcast .default-content-wrapper ul>li ul li {
    color: var(--neutrals-700);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body);
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
    font-weight: 400;
    padding: 0;
}

.article-sub-right.our-podcast .default-content-wrapper ul>li ul li:last-of-type {
    display: flex;
    align-items: center;
    gap: 4px;
}

.article-sub-right.our-podcast .default-content-wrapper ul>li ul li:last-of-type::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--blue-1-400);
    border-radius: 50%;
    margin-right: 4px;
}

.article-sub-right.our-podcast .default-content-wrapper ul>li ul li:last-of-type span.icon {
    width: 12px;
    height: 12px;
}

.section.future-building-container.article-detail-library {
    margin: 40px auto;
}

.section.future-building-container.article-detail-library .library-btn3 {
    top: 14px;
}

@media screen and (width <=1299px) {
    .section.main-wrapper {
        padding: 24px 16px 40px;
    }

    .section.article-right-wrapper,
    .section.article-left-wrapper {
        padding: 0;
    }
    
    .section.article-left-wrapper {
        max-width: 68%;
    }

    .section.article-right-wrapper{
        max-width: 26%;
    }
}

@media screen and (width<=768px) {
    .section.main-wrapper {
        max-width: 100%;
        flex-direction: column;
        gap: var(--spacing-40);
        padding: 0 16px 40px;
    }


    .section.article-left-wrapper,
    .section.article-right-wrapper {
        max-width: 100%;
    }

    .section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li {
        font-size: var(--label-small-size);
        line-height: var(--label-small-line-height);
    }

    .section.article-sub-left .default-content-wrapper ul:last-of-type li ul li:last-of-type {
        font-size: var(--paragraph-small-regular-size);
        line-height: var(--paragraph-small-regular-line-height);
    }

    .section.article-sub-left .default-content-wrapper ul:last-of-type li ul li:first-of-type {
        font-size: var(--body-small-medium-size);
        line-height: var(--body-small-medium-line-height);
    }

    .section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:first-of-type {
        padding: 2px var(--spacing-12);
    }

    .section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:first-of-type .icon {
        width: 20px;
        height: 20px;
    }

    .section.article-sub-left .default-content-wrapper h1,
    .section.article-sub-left .default-content-wrapper h2,
    .section.article-sub-left .default-content-wrapper h3,
    .section.article-sub-left .default-content-wrapper h4,
    .section.article-sub-left .default-content-wrapper h5,
    .section.article-sub-left .default-content-wrapper h6 {
        font-size: var(--heading-h5-size);
        line-height: var(--heading-h5-line-height);
    }

    .section.article-sub-left .default-content-wrapper p:first-of-type {
        font-size: var(--body-medium-regular-size);
        line-height: 24px;
    }

    .section.article-sub-left .default-content-wrapper p:nth-of-type(2) picture {
        height: 320px;
    }

    .section.article-sub-left .default-content-wrapper p:nth-of-type(3) {
        font-size: var(--body-medium-regular-size);
        line-height: var(--body-medium-regular-line-height);
        margin: 24px 0 0;
    }
}